<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown
           mode="SingleCall" objectUri="SAService.rem"
           type="ServiceClass, ServiceClass"/>
      </service>
      <channels>
        <channel ref="http"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>